@import '../../theme/theme.scss';

.full-width {
  width: 100%;
}

button{
  margin: 10px;
}

.title-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.title{
  font-size: 24px;
  margin-bottom: 25px;
}

form{
  width: 100%;
}
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-submit{
  display: unset;
  background-color: $btn-color !important;
}

mat-form-field, .label-text {
  padding: 0px 20px 0px 10px;
}

