<!-- used to display title based on create or edit mode -->
<div class="title-container">
    <div class="title" *ngIf="currentMode=='create'">
        Create Product
    </div>

    <div class="title" *ngIf="currentMode=='edit'">
        Edit Product
    </div>

    <!-- back button for edit mode to return without saving -->
    <button mat-mini-fab color="primary" aria-label="Back" *ngIf="currentMode=='edit'" routerLink="/productslist">
        <mat-icon>west</mat-icon>
    </button>

</div>

<!-- form to get details to create or edit product -->
<div class="form-container">
    <form [formGroup]="fromGroup">
        <mat-horizontal-stepper linear="true" #stepper>

            <!-- basic produc detail in this step -->
            <mat-step label="Products Detail" [stepControl]="fromGroup.controls['productGroup']" editable
                formGroupName="productGroup">

                <mat-form-field class="full-width" appearance="standard">
                    <mat-label>Product Name</mat-label>
                    <input type="text" matInput formControlName="productName" placeholder="Product Name">
                </mat-form-field>

                <mat-form-field class="full-width" appearance="standard">
                    <mat-label>Product Id</mat-label>
                    <input type="text" matInput formControlName="productId" placeholder="Product Id starts from P- & only numbers after P-">
                    <!-- <mat-hint >
                        Product Id starts from P- & only numbers after P-
                    </mat-hint> -->
                    <mat-error *ngIf="fromGroup.controls['productGroup'].value['productId']">
                        Please follow the rules of Product ID
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="standard">
                    <mat-label>Product Category</mat-label>
                    <mat-select formControlName="productType">
                        <mat-option *ngFor="let category of categoryList" [value]="category">{{category}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput resizeToFitContent="true" formControlName="description"></textarea>
                </mat-form-field>

                <div align="end">
                    <button mat-raised-button matStepperNext color="primary">Next</button>
                </div>
            </mat-step>

            <!-- basic more details in this step -->
            <mat-step label="Stock Details" [stepControl]="fromGroup.controls['stockGroup']"
                formGroupName="stockGroup">

                <mat-form-field class="full-width" appearance="standard">
                    <mat-label>Price</mat-label>
                    <input type="string" matInput displayRupee formControlName="price" displayRupee
                        placeholder="Product Price">
                </mat-form-field>

                <mat-form-field class="full-width" appearance="standard">
                    <mat-label>Stock Available</mat-label>
                    <input type="number" matInput formControlName="stock" placeholder="Stock Available">
                </mat-form-field>

                <div align="end">
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" *ngIf="!productId"
                        (click)="createProduct()">Submit</button>
                    <button mat-raised-button color="primary" *ngIf="productId" (click)="editProduct()">Save</button>
                </div>

            </mat-step>

        </mat-horizontal-stepper>

    </form>

</div>