<div class="main-container">

  <!-- title of the page -->
  <div class="title">
    Dashboard
  </div>

  <!-- Bar chart -->
    <div class="charts">
        <div style="display: block;">
            <canvas baseChart 
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
    </div>

    <!-- Pie Chart -->
    <div class="charts">
        <div style="display: block;">
            <canvas baseChart 
              [data]="pieChartData" 
              [labels]="pieChartLabels" 
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">
            </canvas>
          </div>          
    </div>
</div>