
.title{
    font-size: 24px;
    font-weight: 200;
}

@media (min-width:1080px) {
    .main-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-content: center;
    }

    .graph-containers{
        margin-top: 25px;
        display: flex;
    }

    .charts{
        box-shadow: black;
    }
}


@media (max-width:1080px) {
    .main-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-content: center;
    }

    .charts{
        margin: 25px;
    }
}

.charts{
    // height: calc(100vh - 58px);
    flex-grow: 1;
}