@import '../../theme/theme.scss';

mat-icon{
  color: $icon-white;
}
.fix-navbar-top {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.input-group-append{
    color: $font-light;
    display: flex;
    align-items: center;
    justify-content: center;
    border: $border-dark 1px solid;
    border-left: none;
    border-radius: 3px;

}
.search-icon{
    color: $font-light;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-flex;
}

.nav-container{
  height: auto;
}


@media (max-width: 768px) {

  .side-nav-toggle{
    display: block;
  }
}

@media (min-width: 768px) {

  .side-nav-toggle{
    display: None;

  }
}

.top-nav-dropdown{
  background-color: $background-dark-top;
  color: white;
}