
// on side nav hover
$background-light : #fafafa;
$font-dark : #272343;

// main font
$font-light : #66fcf1;

// top-nav background
// $background-dark-top :#1E1E2C;
$background-dark-top :#252a3e;

// side-nav background
$background-dark-side : #1f2833;


$background-dark-top-hover :#35087F;
$background-dark-side-hover : #d3f9f3;

// button colors
$btn-color:rgb(84, 84, 177);
$white:white;
$border-dark:$background-dark-top;
$border-light:white;
$icon-white : white

// $back : #e3f6f5;
// $accent : #bae8e8;
// $light : #34a3a3;

// #1e306e
// #563672
// #8e3c77
// #c6427b
// #fe4880#1e306e
// #563672
// #8e3c77
// #c6427b
// #fe4880