<ng-container>
    <div class="container-all">
        <div class="display-nav">
            <top-navbar></top-navbar>
        
            </div>
        
            <div class="main-container show-sidenav">
        
                <div class="sidenav-container" [ngClass]="{'active': sideNavSatus}">
                    <side-navbar></side-navbar>
                </div>
        
                <div class="content-container">
                    <router-outlet></router-outlet>
                </div>
            </div>
    </div>
    


</ng-container>