<div class="container">
    <!-- container for list of items in side nave -->
    <div class="item-container">

        <!-- some top vertical space to seperate from navbar -->
        <div class="vetical-space">

        </div>

        <!-- side nav items -->
        <button class="item" routerLinkActive="" routerLink="/dashboard" >

            <div class="item-icon">
                <mat-icon>
                    dashboard
                </mat-icon>
            </div>
            
            <div class="item-text">
                Dashboard
            </div>

        </button>

        <button class="item" routerLinkActive="" routerLink="/productslist" fxLayout="">

            <div class="item-icon">
                <mat-icon>
                    view_list
                </mat-icon>
            </div>
            
            <div class="item-text">
                Products
            </div>

        </button>

        <button class="item" routerLinkActive="" routerLink="/products" >

            <div class="item-icon">
                <mat-icon>
                    add_box
                </mat-icon>
            </div>
            
            <div class="item-text">
                Add Products
            </div>

        </button>

    </div>
</div>