@import '../../theme/theme.scss';

.container{
    display: flex;
    flex-direction: column;
    padding: 0px;
    color: $font-light;
    background-color: $background-dark-side !important;
}

.item-container{
    color: $font-light;
}

.item{

    display: flex;
    color: $background-dark-side;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background: transparent;
    color: $white;
    border: none;
    
    &:hover {
        transform: scale(1.07);
    }
    &:hover .item-icon {  
        transform: scale(1.07);
    }
    &:hover .item-text{  
        transform: scale(1.07);
    }
}

.item-icon{
    margin: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
}

.item-text{
    text-align: center;
}

.vetical-space{
    height: 20px;
}