<div class="container">
    <div class="item-container">

        <div class="vetical-space">

        </div>

        <button class="item" routerLinkActive="" routerLink="/dashboard" >

            <div class="item-icon">
                <mat-icon>
                    add_box
                </mat-icon>
            </div>
            
            <div class="item-text">
                Dashboard
            </div>

        </button>

        <button class="item" routerLinkActive="" routerLink="/productslist" fxLayout="">

            <div class="item-icon">
                <mat-icon>
                    add_box
                </mat-icon>
            </div>
            
            <div class="item-text">
                Products
            </div>

        </button>

        <button class="item" routerLinkActive="" routerLink="/products" >

            <div class="item-icon">
                <mat-icon>
                    add_box
                </mat-icon>
            </div>
            
            <div class="item-text">
                Add Products
            </div>

        </button>

    </div>
</div>